/*This is my partial file*/
@import 'partials/variables';
@import 'partials/nav';
@import 'partials/img';

.text{
	font-size: 70px;
	color: white;
	font-family: avenir;
	position: absolute;
	top: 10%;
	left:50px;
	
}

.text_2{
	font-size: $font-size;
	color: white;
	font-family: avenir;
	position: absolute;
	top: 30%;
	left:90px;
}

.text:hover{
	color:#6E4AB8;
}

.text_2{
	@extend.text;
}

